mat-tab-group {
  width: 100%;
}
.mat-tab-label-container {
  background: #e4e5e5;
}

.columns-list {
  width: 100%;
  max-width: 100%;
  border: solid 0px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  /* background: white; */
  border-radius: 4px;
  overflow: hidden;
  flex-wrap: wrap;
}

.column-item {
  padding: 20px 10px;
  /* border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  background: #ff4081;
  margin: 10px;
  border: 0;
  color: #fff !important;
  max-width: 165px;
  min-width: 165px;
}

.column-item:last-child {
  border: none;
}

.column-item .mat-list-text h4.mat-line {
  font-size: 14px;
  font-weight: bold;
}

.column-item .mat-list-text p.mat-line {
  font-size: 12px !important;
}

.column-item .mat-list-item-content .mat-list-text {
  padding-left: 0px !important;
}

.drop-container {
  padding: 25px;
  min-height: 300px;
}

/* .example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
} */
.layout-container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 0 25px 0;
  display: inline-block;
  vertical-align: top;
  /* padding: 25px;*/
  /* background: #3f517f; */
  /* height: 100%; */
  min-height: 100px;
}

.drop-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%;
  /* border: solid 1px #ccc;
  background: white; */
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  /* border-radius: 4px; */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-item.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

mat-list-item {
  display: block !important;
}

.field-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  width: 95%;
  margin-left: 30px;
  margin-right: 5px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.control-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
}

.placeholder-container {
  background: #e9e9e9;
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 0.5;
  padding: 0;
  position: relative;
  width: 95%;
  margin-left: 25px;
  margin-right: 5px;
}

.placeholder {
  background: #e9e9e9;
  position: relative;
  width: 100%;
  transition: opacity 0.2s ease;
}

.placeholder-content {
  background: #e9e9e9;
  height: 100%;
  min-height: 55px;
  padding: 15px;
  position: relative;
}

.placeholder-content-area {
  background: #fff;
  min-height: 50px;
  height: 100%;
  padding: 7px;
}

.placeholder-container:hover .placeholder-handle {
  opacity: 1;
}
.placeholder-container:hover .placeholder-handle:hover i {
  color: rgba(255, 255, 255, 1);
}
.placeholder-container:hover .placeholder-handle:hover i:hover {
  color: #ffffff;
}

.placeholder-handle {
  background-color: #ffffff;
  display: block;
  height: 100%;
  left: -22px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 22px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.placeholder-handle:hover {
  background-color: #3f51b5 !important;
  cursor: move;
}
.placeholder-handle i {
  color: rgba(0, 0, 0, 1);
  display: inline-block;
  font-size: 14px;
}
.placeholder-handle > div {
  text-align: center;
}
.handle-move {
  margin-top: 5px;
  width: 100%;
}
.handle-move:hover i {
  color: #ffffff;
}
.handle-remove {
  cursor: pointer;
  width: 100%;
}
.handle-remove:hover i {
  color: #ffffff;
}
.handle-options {
  cursor: pointer;
  width: 100%;
}
.handle-options:hover i {
  color: #ffffff;
}
