<div
  class="drop-container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <form
    class="dynamic-form"
    [formGroup]="form"
    id="selectedColumns"
    cdkDropList
    [cdkDropListData]="selectedColumns"
    class="drop-list"
    (cdkDropListDropped)="dropRows($event)"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0.5%"
      fxLayoutAlign="center"
      class=""
      *ngFor="let column of selectedColumns; index as i"
      cdkDrag
      [cdkDragData]="column"
    >
      <div *cdkDragPlaceholder class="field-placeholder"></div>
      <div class="placeholder-container">
        <div class="placeholder">
          <ng-container *ngFor="let width of column.widthOfColumns; index as j">
            <div class="placeholder-content" fxFlex="{{ width }}%">
              <div
                #controlDropLists
                id="{{ i }}{{ j }}"
                cdkDropList
                [cdkDropListData]="column.selectedControls"
                (cdkDropListDropped)="dropControls($event, column, i, j)"
                [cdkDropListEnterPredicate]="enterPredicate"
                class="placeholder-content-area"
              >
                <div
                  *cdkDragPlaceholder
                  class="control-placeholder"
                  fxFlex="{{ width }}%"
                ></div>
                <ng-container
                  *ngIf="
                    selectedContainerIsNotEmpty(column.selectedControls, j)
                  "
                  dynamicFormControl
                  [config]="column.selectedControls[j]"
                  [group]="form"
                >
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="placeholder-handle" cdkDragHandle>
          <div class="handle-move">
            <i class="material-icons">
              reorder
            </i>
          </div>
          <div class="handle-remove" (click)="removeSelectedColumns(column)">
            <i class="material-icons">
              clear
            </i>
          </div>
          <!-- <div class="handle-options">
            <i class="material-icons">
              settings
            </i>
          </div> -->
        </div>
      </div>
    </div>
  </form>
</div>
