<mat-toolbar color="primary" class="fixed-toolbar">
  <mat-icon
    class="logo"
    (click)="toogleSideNav()"
    matTooltip="click to toggle menu"
  >
    menu
  </mat-icon>
  <span>Form Builder</span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="isAuthenticated" class="username-container">
    <span>Welcome </span>
    <span>
      <strong>{{ email }}</strong>
    </span>
  </span>
  <button
    *ngIf="isAuthenticated"
    mat-mini-fab
    matTooltip="Logout"
    aria-label="Logout"
    (click)="logout()"
  >
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
