<mat-toolbar color="primary" class="fixed-toolbar">
  <mat-icon
    class="logo"
    (click)="toogleSideNav()"
    matTooltip="click to toggle menu"
  >
    menu
  </mat-icon>
  <span>Form Builder</span>
  <span class="fill-remaining-space"></span>
  <ng-container *ngIf="isAuthenticated">
    <span class="username-container">
      <span>Welcome </span>
      <span>
        <strong>{{ email }}</strong>
      </span>
    </span>
    <button
      mat-button
      [matMenuTriggerFor]="profileOptions"
      matTooltip="Profile"
    >
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #profileOptions="matMenu">
      <button class="profile-menu-items" mat-menu-item (click)="logout()">
        <mat-icon aria-label="Logout">lock_open</mat-icon>Logout
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
